/*common */ 
/*
- container
-overlay
- opacity hover
- section hedar
- section padding
- hover effect 1(left to right)
- hover effect 2 (top to down)

*/ 
.overlay{
    position: absolute;
    width: 100%;/*100% من الperant  تاعو */
    height: 100%;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.7);}/*لتحكم بالشفافية */
.hover-opacity{
    transition: opacity 0.5s;/*لجعل الظل يبقى نصف ثانية*/
    }
.hover-opacity:hover{
    opacity:0.8; /*بستخدمها لكل البوتم الي عندي */
    }
 .ltr-effect,.tb-effect{
        position: relative;
    }
 .ltr-effect:after,.tb-effect:after{
 position: absolute;
 content: "";
 top: 0;
 left: 0;
 z-index: -1;
 background: #333;

    }
.ltr-effect:after,.tb-effect:after{
 
    width: 0%;
    height: 100%;
}
.ltr-effect:hover:after{
    width: 100%;
    transition:width 0.5s;
}
.tb-effect:after{
width: 100%;
height: 0%;

}
.tb-effect:hover:after{
height: 100%;
transition:height 0.5s;
}

/* grneral css style*/

*{
    margin:0 ;
    padding:0;
    box-sizing:border-box;/*css3*/
}
:root{
    --maincolor:#6195FF;
    --graycolor:#999;
    --bg-gray:#f9f9f9;
    --whitecolor:#fff;
}
.mg-b-20{
    margin-bottom: 20px;
}
.container{
    width: 80%;
    margin:auto;
   
}
body{
    font-family: 'Varela Round', sans-serif;
}
.clear{
    clear: both;;/*to solve float problem*/
}
h1, h2 ,h3 ,h4 ,h5 ,h6{
    font-family: motserrat,sans-serif;

}
button{
    font-family: 'varela round',sans-serif;
}
a{
    text-decoration: none;
}
.pd-y{
padding: 80px 0;
}
.pd{
    padding-bottom: 80px;
}
.mg-b{
margin-bottom: 10px;
}
.section-header{
text-align: center;
}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.line{
    display: block;
    width: 60px;
    height: 5px;
    background-color:var(--maincolor);
    margin: 0 auto 70px auto;


}
ul{
    list-style: none;
}
/*header*/

.header{
    position: fixed;
    width: 100%;
    z-index: 10;/*لجعل الهيدر يطلع فوق  الصورة*/
    background-color: rgba(0, 0, 0, 0.7);
}

.header .logo{
    width: 40%;
    float: left;
}
.header .logo img{
    width: 20%;
    margin-top: 15px;
}
.header .nav{
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}

.header .nav li{
    display: inline-block;
    font-size: 14px;
    text-align: right;

   
    
}
.header .nav> li> a{
    color: white;
    display: block; 
    padding: 30px 15px;/*   مشان اقدر اضغط مش بس ع الكلمة A بوسع مساحة ال */
}
.header .nav >li >a.active:after,
.header .nav> li >a:after
{
    content: "";
    display: block;
    height: 3px;
    margin-top: 2px;
    background-color:var(--maincolor);
    transition: 0.5s;
}
.header .nav >li a.active:after{  
    width: 100%;
}
.header .nav >li >a:after{
    width: 0%;  
}
.header .nav >li> a:hover:after{
    width: 100%;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background-color:var(--maincolor);
    width: 150px;
    text-align: center;
    left: -50%;
    top:70%;
    opacity: 0;
    visibility: hidden;
    transition: opcity 0.5s , visibility 0.5s;
}
.dropdown-menu a{
    
    color: white;
    display: block;
    padding: 10px;
}
.dropdown:hover .dropdown-menu{
    opacity:1;
    visibility:visible; 
}
/*home section*/
.home{
    height:100vh;
    background-image:url(../img/background1.webp);
    background-size:cover;/*خلي الصورة ع نفس المقاس */
    position:relative;/*الاب بياخد بوزشن ريلتف والابن ابزليوت*/
}
.home-content{
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform:translate(-50%,50%);/*يسمى ال hero img  لتوسيط الكلام جو layer */
    text-align: center;
}
.home .title{
    color: white;
    font-size:3.5 rem;
    text-transform:uppercase;
}
.home .home-desc{
    margin: 20px 0;
    color: white;
    letter-spacing: 2px;/*لابعاد الاحروف عن بعض*/
    line-height:1.5;/*لابعاد السطور عن بعض*/

}
.home .btn{
    min-width:160px ;
    height: 45px;
    padding: 15x 0;
    border-radius:5px;
    border: 0;
    cursor: pointer;/*لتغير شكل المؤشر ع شكل يد*/
    font-size:20px ;

}
.home .btn-start{
    margin-right:10px ;
    background-color:white;
}
.home .btn-learn{
   
    background-color:var(--maincolor);
    color: white;


}
/*about section*/

.about-content{
    overflow: hidden;
}
.about-item{
  width: 30%;
  float: left;
  text-align: center;
  border: 1px solid var(--bg-gray);
  padding: 50px 20px;
}
.about-item:hover .about-item-title{
    color: var(--whitecolor);
}
.about-item.mg{
    margin: 0 5%;
}
.about-item .icon{
    color:var(--maincolor);;
}
.about-item-title{
 text-transform: capitalize;
 transition: 0.5s;

}
.about-item-desc{
    line-height: 1.6;
}
.about-item-link{
    color:var(--maincolor);;
    text-transform: capitalize;
}

/*portfolio section*/
.portfolio{
background:var(--whitecolor);
}
.portfolio-content{
    overflow: hidden;
}
.portfolio-item{
    width: 30%;
    float: left;
    margin-bottom: 60px;
    position: relative;
    padding: 20px;
}
.portfolio-item .layer-content{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}
.portfolio-item:hover .layer-content{
    opacity: 1;
    visibility: visible;
}
.layer-content .layer-info{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    text-align:center;
    transform: translate(-50%,-50%);
}
.layer-content .category{
color:var(--maincolor);;
text-transform: uppercase;
display: block;
margin-bottom: 5px;
position: relative;
top: 10px;
opacity: 0;
visibility: hidden;
transition: top 0.5s, opacity 0.5s;
transition-delay: 0.2s;
}

.layer-content-item{
font-size: 20px;
color: var(--whitecolor);
margin-bottom: 10px;
position: relative;
top: 10px;
opacity: 0;
visibility: hidden;
transition: top 0.5s, opacity 0.5s;
transition-delay: 0.3s;
}
.layer-content a  {
    color: var(--whitecolor);
    position: relative;
    top:10px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.4s;

}
.layer-content a i{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;/*لجعل الصورة تصبح بالوسط ناخذها نفس قيمة hight*/
    background-color:var(--maincolor);;
    
}
.portfolio-item:hover .layer-content-item,
.portfolio-item:hover .layer-content .category,
.portfolio-item:hover .layer-content a {
    top:0px;
    opacity: 1;
    visibility: visible;
}
.portfolio-item.mg{
    margin: 0 5%;
}

    .portfolio-item img{
    width: 100%;
}

/* Offer section*/


.offer-content{
   overflow: hidden;
}
.offer-item{
    width: 30%;
    float: left;
    
    border: 1px solid var(--bg-gray);
    padding: 30px 15px 30px 70px;
    position: relative;
}
.offer-item.mg{
    margin: 0 5%;

}
.offer-item .icon{
    position: absolute;
    left: 15px;
    top: 35px;
    color: var(--maincolor);;
}

.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 0.5s;
}

.offer-item-desc{
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color:var(--graycolor);}

.offer-item:hover .offer-item-title{
    color:var(--whitecolor);
}

/*service section*/
.service{
    background-color:var(--bg-gray);
}
.service-content{
    overflow: hidden;
    
}
.service-item{
    width: 50%;
    float: left;
}
.service-item .section-header{
    text-align: left;
}
.service-item .section-header .line{
    margin:0 0 40px 0;
}
.service-item-desc{
    padding-right: 20px;
    color:var(--graycolor);
    line-height: 1.4;
    font-size: 17px;
}
.service-list{
    list-style: none;
}
.service-list li{
    margin-bottom: 10px;
    color:var(--graycolor);
}
.service-list li i{
    border: 1px soled var(--maincolor);;
    color: var(--maincolor);;
    width: 30px;
    height: 30px;
    padding: 7px ;
    border-radius: 50%;
}
.service-item-img img{
    width: 100%;
}
.service-bollets{
    list-style: none;
    text-align: center;
}
.service-bollets li {
    
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color:var(--bg-gray) ;
    margin: 10px 5px;
    border-radius: 50%;
}
.service-bollets li.active{
    background-color:var(--maincolor);;
}
.service-bollets li:hover{
    background-color:var(--maincolor);;
}
/*number section*/
.numbers{
    position: relative;
    background-image: url(../img/background2.webp);
    background-size: cover;/* مشان تملا المكان*/
    background-attachment: fixed;/*تأثير وانا نازل تكون ثابته*/
    height: 300px;
}
.number-items{
    overflow: hidden;
    padding: 100px 0;
   
}
.number-item{
    width: 25%;
    float: left;
    text-align: center;
}
.number-item .icon {
    color:var(--maincolor);
    margin-bottom: 15px;
}
.number-item-title{
    font-weight: bold;
    font-size: 30px;
    color: var(--whitecolor);
  
}
.number-item-text{
    
    color:var(--whitecolor);
   
}
/*pricing setion*/
.pricing-plans{
    overflow: hidden;
}
.pricing-item{
    float: left;
    width: 30%;
    border: 1px solidvar(--bg-gray);
    padding:40px 15px;
    text-align: center;
}
.pricing-item.mg{
    margin:0 5%;
}
.pricing-item-text{
    text-transform: uppercase;
    font-size: 17px;
    color:var(--graycolor);
}
.pricing-item-permonth{
    position: relative;
    width: 130px;
    height: 130px;
    margin: 20px auto;
    padding: 20px 0;
    border-radius: 50%;
    border: 2px solid #6195FF;
}


.pricing-item-permonth .doller{
    font-size:50px;
    
}
.pricing-item-permonth .month{
    font-weight:bold;
    text-transform: uppercase;
    font-size: 15px;
}
.pricing-list{
    list-style: none;
}
.pricing-list li{
    color:var(--graycolor);
    line-height: 1.8;
}
.pricing-item-purchase{
    background: none;
    border: 0;
    display: block;
    width: 140px;
    border: 3px solid #7ba7ff;
    padding: 10px;
    margin: 15px auto 0 auto;
    color: #7ba7ff;
    font-weight: bold;
}
.pricing-item:hover .pricing-item-text{
    color:var(--whitecolor);
}
.pricing-item:hover .pricing-item-permonth{
    color: var(--whitecolor);
}
.testimonail{
    position: relative;
    background-image: url(../img/background3.webp);
    background-attachment:fixed;
    height: 400px;
}
.testimonail-content{
    overflow: hidden;
    padding: 100px 0;
    width: 80%;
    margin: auto;
}
.testimonail-item{
    width: 50%;
    float: left;
    color: var(--whitecolor);
}
.testimonail-item .item-toplayer{
    padding: 10px 2px 40px 100px;
    position: relative;
}
.item-toplayer img{
    position: absolute;
    left: 10px;
    top:10px;
    border-radius: 50%;
}
.testimonail-item .item-toplayer h2{
    margin-bottom: 5px 0;
}
.testimonail-item .item-toplayer span{
    color: #6195FF;
}
.testimonail-desc{
    line-height: 1.5;
    font-size: 17px;
}
/* team section*/

.team-content{
    overflow: hidden;
}
.team-item{
    width:30%;
    float: left;
    background:var(--bg-gray);
    padding: 40px 10px;
    text-align: center;
}
.team-item.mg{
    margin: 0 5%;
}
.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;

}
.team-item .team-img img{
    width: 100%;  
}
.team-ovarlay{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}
.team-ovarlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--maincolor);;
    color: var(--whitecolor);
    line-height: 40px;
    margin-left: auto; /*لنقل العنصر من جهة للاخرى*/

}
.team-info-title{
    color: #222;
    margin: 10px 0;
    transition: color 0.5s;
}
.team-info-test{
    color: var(--graycolor);
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;
}
.team-item:hover .team-ovarlay{
    opacity:1;
    visibility: visible;
}
.team-item.tb-effect{
    z-index: 1;
}
.team-item:hover .team-info-title{
    color:var(--whitecolor) ;
}
.team-item:hover .team-info-test{
    color: var(--maincolor);
}
/*Recents section*/

.Recents{
    background-color:var(--bg-gray);
}
.Recents-content{
    overflow: hidden;
    
}

.Recents-item {
    width: 30%;
    float: left;
    background-color: var(--whitecolor);
}
.Recents-item img{
    width: 100%;
}
.Recents-item.mg{
    margin: 0 5%;
}
.Recents-item-list{
    list-style: none;
    margin: 10px 0;
}
.Recents-item-list li{
    display: inline-block;
    margin: 0 5px;
}
.Recents-info{
    padding: 20px;
}
.Recents-item-list li i{
    color: #6195FF;
}
.Recents-item-title{
    font-weight: bold;
    margin: 20px 0;
    

}
.Recents-item-desc{
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.5;

}
.Recents-link{
    color:var(--maincolor);;
}
/*contcat section*/
.content-contcat{
    overflow: hidden;
}
.content-item{
    width: 30%;
    float: left;
    text-align: center;
    line-height: 1.5;
}
.content-item i{
    color:var(--maincolor);;
    font-size: 36px;
    margin-bottom: 20px;
}
.content-item h3{
font-weight: bold;
margin-bottom: 15px;
}
.content-item p{
    color:var(--graycolor);
    margin: 0 0 15px;
    font-size: 25px;

}
.content-item.mg{
    margin: 0 5%;}

    /*contcat section*/
.content-contcat{
    overflow: hidden;
}
.content-item{
    width: 30%;
    float: left;
    text-align: center;
    line-height: 1.5;
}
.content-item i{
    color:var(--maincolor);;
    font-size: 36px;
    margin-bottom: 20px;
}
.content-item h3{
font-weight: bold;
margin-bottom: 15px;
}
.content-item p{
    color:var(--graycolor);
    margin: 0 0 15px;
    font-size: 25px;

}
.content-item.mg{
    margin: 0 5%;}
    
.first-form{
        text-align:center;
}    
.first-form input{
    margin-bottom: 20px;
    border:0;
    width:41%;
    height:40px;
    background: #F4F4F4;
    color: #999;
    padding: 0px 10px;
}
.first-form input.first-input{
    margin-right:2.5%;
    margin-top: 40px;
    padding: 0 10px;
}
.first-form input.third-input{
    width: 85%;
    margin: 0 0 20px;
    padding: 0 10px;
}
.first-form textarea {
    padding: 10px 10px;
    min-height: 80px;
    width: 85%;
    border: none;
    background: #F4F4F4;
    color: #999;
}
    
.first-form button.main-massege{
    background: #6195FF;
    color: #FFF;
    display: inline-block;
    padding: 10px 35px;
    margin: 30px;
    border: 2px solid transparent;
    border-radius: 3px;
    height: 60px;
    width: 200px;
}


/*footer section */
.footer{
    background-color: #1c1d21;
    text-align: center;
    padding: 20px 0;
}
.footer-links{
    list-style: none;
    margin: 20px 0;
}
.footer-links li{
    display: inline-block;
}
.footer-links li a{
    display: block;
    width:50px ;
    height: 50px;
    background:var(--maincolor); ;
    color:var(--whitecolor);
    margin: 0 5px;
    border-radius: 50%;
}
.footer-links li a i{
    line-height: 50px;
}
.footer .COPYRIGHT{
    color: var(--graycolor);
    font-size: 15px;
    text-transform: uppercase;
}
